:host{
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: tomato;
  height: 100%;


  // .content{
  //   display: flex;
  //   flex-direction: column;
  //   gap: 32px;
  // }
}
